header {
  font-size: 20px;
  background-color: bisque;
  border-radius: 10px;
  color: rgb(228, 211, 138);
}
body {
  background-color: rgb(248, 244, 238);
}
h3 {
  font-size: 17px;
}
p {
  font-size: 17px;
  font-style: normal;
}
div {
  text-align: center;
}
